 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><b>Me at work/b><br>I am an experienced data scientist working at Essence Global. At Essence, I wear a number of hats while working for our client Google. I primarily lead research on brand oriented media, running A/B tests with the goal of raising high funnel metrics like awareness, perception, and consideration for Google products. As part of this research I also seek to bring in new data sources so I setup and oversee ETL pipelines as well. Lastly, in my spare time at Essence I seek ways to quantify the power of a creative advertisement. That side project has now become a fully operational client funded machine learning tool that identifies what aspects of videos drive brand lift. I'm proud of what it has become!
                </div>
                <div class="col-lg-4">
                    <p><b>Me at home</b><br>I am passionate about the environment and love the outdoors. In normal times you can find me skiing, swimming, or hiking depending on the season. In current times you can find me in my apartment watering my plants and watching soccer. I am a guitar player and enjoy supporting the local music scene. In my spare time, data science allows me to combine my analytical mindset with my interest in programming and machine learning. Take a look at my <a href="https://github.com/ccaspar/" style="color:blue"> github </a> to see some of my work!</p>
                </div>
            </div>
        </div>
    </section>